#statistics-page {
  width: 100vw;
  min-height: 100vh;
  background: var(--primary-color-light);
  padding: 0;
  padding: 3.4rem;
  color: white;
}

#statistics-page .statistics-container {
  max-width: 100%;
}

#statistics-page header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 5rem;
}

#statistics-page header button {
  border: 0;
  background: unset;
  cursor: pointer;
}

#statistics-page header button img {
  height: 3.5rem;
}

#statistics-page header h2 {
  font: 400 3.5rem Poppins;
}

#statistics-page section {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 2rem 0 10rem 0;
}

#statistics-page section.map header {
  position: relative;
  margin-bottom: 7.6rem;
}

#statistics-page section header.title h3 {
  font: 400 3rem Poppins;
}

#statistics-page section.map header.title img {
  position: absolute;
  top: 64%;
  right: -10px;
  height: 13.3rem;
}

#statistics-page section.map main {
  background: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 0.8rem;
  width: 100%;
  height: 300px;
}

#statistics-page section.map main .world-map-container {
  height: 100%;
  width: 100%;
  display: block;
}

#statistics-page section.map main .world-map-container .leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}

#statistics-page section.map main .world-map-text {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  width: 80%;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.8rem;
  z-index: 9999;
}

#statistics-page section.map main .world-map-text img {
  height: 4.3rem;
  margin-left: 10px;
}

#statistics-page section.news main ul.news-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3.5rem;
}
#statistics-page section.news main ul.news-container li {
  border-radius: 0.8rem;
  border: none;
  color: var(--primary-color);
  background: white;
  box-shadow: var(--shadow-news-box-container);
}

#statistics-page section.news main ul.news-container li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#statistics-page section.news main ul.news-container li a img {
  flex: 1;
  height: 5.4rem;
}

#statistics-page section.news main ul.news-container li div {
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  box-shadow: var(--shadow-news-box-text);
  width: 100%;
  color: white;
  line-height: 5.6rem;
  text-align: center;
  font-weight: 700;
}

#statistics-page section.list-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#statistics-page section.list-all .search {
  position: relative;
  width: 30vw;
  margin-bottom: 3.5rem;
}

#statistics-page section.list-all .search input {
  background: unset;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  padding: 0 15px;
  color: white;
  width: 100%;
}

#statistics-page section.list-all .search input::placeholder {
  color: white;
}

#statistics-page section.list-all .search input + img.icon {
  position: absolute;
  right: 1rem;
  top: 0;
  color: white;
  height: 2rem;
}

@media (min-width: 768px) {
  #statistics-page section.map header.title img {
    top: 50%;
  }
}

@media (min-width: 900px) {
  #statistics-page .statistics-container {
    max-width: 900px;
    margin: 0 auto;
  }
}
