@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  font-size: 60%;
}

body,
input,
textarea {
  margin: 0;
  font: 400 1.6rem "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font: 400 1.6rem "Montserrat";
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
