bodY {
  background: #f1f1f1;
}
.container {
  width: 100vw;
  height: 100vh;
}

/* #container-content {
  width: 100%;
  height: 100%;
} */

.logo img {
  width: 100%;
  height: 4rem;
}

.logo h2 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: Ubuntu;
  margin-top: 1.2rem;
}

.hero-image {
  width: 100%;
  margin-top: 5rem;
}

.hero-image img {
  width: 85%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
}

#see {
  border-radius: 3.2rem;
  padding: 2.2rem;
  width: 20rem;
  background: var(--primary-color);
  color: white;
  border: 0;
  font-size: 2rem;
}

#howto {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  font-weight: 400;
}

.buttons-container a:first-child {
  margin-right: 3.2rem;
}

#see:hover {
  background: var(--primary-color-light);
  cursor: pointer;
  transition: 0.3s;
}

#howto:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.footer {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1100px) {
  .container-content {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo image"
      "buttons image";
    align-items: center;
    justify-content: center;
  }
  :root {
    font-size: 76%;
  }

  .logo {
    grid-area: logo;
    justify-content: center;
    align-items: center;
  }
  .texto-2 {
    width: 100%;
    text-align: center;
  }

  .hero-image {
    grid-area: image;
    align-items: center;
    justify-content: center;
  }
  .buttons-container {
    grid-area: buttons;
    /* flex-direction: column; */
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .buttons-container a:first-child {
  }

  #see {
    width: 25rem;
  }
  .footer {
    margin: 0;
  }
}
